{% extends 'news/base.html' %}
{% load static %}

{% block title %} Change password confirmation {% endblock title %}

{% block content %}
<div style="padding: 100px">
<h1>Change password</h1>

    <p>fill this form to change your password!</p>
    {% if validlink %}
    <p>Enter your new password twice</p>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Change password</button></p>
        </form>
        {% else %}
        <p>You used invalid link, it might be expired</p>
    {% endif %}
</div>


{% endblock content %}